header {
    background-image: url('../img/center.jpg');
    #header-content-pad {
        padding-left: 0;
        padding-right: 0;
    }
    .jumbotron {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}

#search-results {
    #mainNav {
    background: #F05F40;
    color: white;
    }
    .list-results {
        li {
            width: 100px;
            img {
                width: 100%;
            }
        }
    }
}

.reg-btn {
    margin: 10px;
}

footer {
    background: #222222;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
    }
}

.block-info {
    margin-top: 70px;
}
