/*--------- HOME STYLES -------------------------------------------*/
.reg-btn {
  margin: 10px; }

.well-searchbox {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }
  .well-searchbox label {
    color: #fff;
    margin: 0 auto; }
  .well-searchbox .col-md-8 {
    width: 100%; }
  .well-searchbox .btn {
    background: #F05F40;
    color: #fff; }

.form-input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.btn-container .btn {
  width: 100%;
  transition: all ease-in-out .15s;
  border: 0;
  background-color: #F05F40;
  border: 1px solid #F05F40;
  color: #fff; }
  .btn-container .btn:hover {
    border: 1px solid #f6877e;
    background-color: #f6877e;
    color: #fff; }

.btn-red {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

/* search container */
.search-container {
  display: flex;
  justify-content: center; }

/*--------- MODAL -------------------------------------------*/
#myModal h3 {
  display: flex;
  margin: 20px;
  justify-content: center; }

.modal-body a {
  cursor: pointer; }

/*--------- NAVBAR -------------------------------------------*/
.navbar {
  background-color: rgba(0, 0, 0, 0.8); }
  .navbar a {
    cursor: pointer; }

/*--------- PROFILE STYLES -------------------------------------------*/
.fb-profile img.fb-image-lg {
  z-index: 0;
  width: 100%;
  margin-bottom: 10px; }

.fb-image-profile {
  margin: -90px 10px 20px 80px;
  z-index: 9;
  width: 20%; }

.fb-profile-text h1 {
  margin-top: 0; }

/* Tabs panel */
.tabbable-panel {
  border: 1px solid #eee;
  padding: 10px; }

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px; }

.tabbable-line > .nav-tabs > li {
  margin-right: 2px; }

.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373; }

.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6; }

.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf; }

.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333; }

.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6; }

.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px; }

.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative; }

.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333; }

.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040; }

.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0; }

.portlet .tabbable-line > .tab-content {
  padding-bottom: 0; }

/* Below tabs mode */
.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent; }

.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0; }

.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf; }

.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d; }

.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px; }

.menu_title {
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  margin: 0 5px; }

@media (max-width: 768px) {
  .fb-profile-text > h1 {
    font-weight: 700;
    font-size: 16px; }
  .fb-image-profile {
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; } }

/*--------- LI RESULTS FROM SEARCH -------------------------------------------*/
.body-list {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 50px; }
  .body-list .every-item {
    padding: 0; }
  .body-list .list-profile {
    width: 100%;
    height: 100%;
    margin: 0; }
    .body-list .list-profile .search-profile {
      font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
      margin: 20px; }
      .body-list .list-profile .search-profile:hover {
        background-color: rgba(239, 184, 64, 0.1);
        box-shadow: 0 0 5px 2px #f05f40; }
      .body-list .list-profile .search-profile .search-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: black; }
        .body-list .list-profile .search-profile .search-text .btn {
          width: 100%;
          transition: all ease-in-out .55s;
          border: 0;
          background-color: #F05F40;
          border: 1px solid #F05F40;
          color: #fff; }
          .body-list .list-profile .search-profile .search-text .btn:hover {
            border: 1px solid #f6877e;
            background-color: #f6877e;
            color: #fff; }
        .body-list .list-profile .search-profile .search-text h3,
        .body-list .list-profile .search-profile .search-text h4 {
          margin: 0;
          color: black; }

/*--------- IMPORTANT TAGS -------------------------------------------*/
header {
  background-image: url("https://res.cloudinary.com/dk2mgboya/image/upload/v1496998051/center_mgqxpg.jpg"); }
  header #header-content-pad {
    padding-left: 0;
    padding-right: 0; }
  header .jumbotron {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }

body {
  padding: 0; }

footer {
  background: #222222;
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer p {
    margin: 0; }

.form-horizontal {
  margin: 90px;
  margin-bottom: 20px; }

.form-group-btn {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 34px; }
  .form-group-btn .btn {
    margin-right: 10px; }

.img-bg {
  width: 100%;
  height: 200px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; }

.register-form .form-signin input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.register-form .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.register-form .form-signin .form-control {
  position: relative;
  font-size: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.register-form .vertical-offset-100 {
  padding-top: 100px; }

.register-form .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto; }

.register-form .panel {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.login-form .form-signin input[type="text"] {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.login-form .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.login-form .form-signin .form-control {
  position: relative;
  font-size: 16px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.login-form .vertical-offset-100 {
  padding-top: 100px; }

.login-form .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto; }

.login-form .panel {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
