header {
  background-image: url("../img/cover.jpg"); }
  header #header-content-pad {
    padding-left: 0;
    padding-right: 0; }
  header .jumbotron {
    width: 100%;
    background: rgba(0, 0, 0, 0.5); }

#search-results #mainNav {
  background: black;
  color: white; }

#search-results .list-results li {
  width: 100px; }

#search-results .list-results li img {
  width: 100%; }

footer {
  background: #222222;
  color: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  footer p {
    margin: 0; }
