header {
  background-image: url("../img/cover.jpg"); }

#search-results #mainNav {
  background: black;
  color: white; }

#search-results .list-results li {
  width: 100px; }

#search-results .list-results li img {
  width: 100%; }
