/*--------- MODAL -------------------------------------------*/

#myModal {
    h3 {
        display: flex;
        margin: 20px;
        justify-content: center;
    }
}

.modal-body a {
    cursor: pointer;
}