/*--------- IMPORTANT TAGS -------------------------------------------*/

header {
    background-image: url('../img/center.jpg');
    #header-content-pad {
        padding-left: 0;
        padding-right: 0;
    }
    .jumbotron {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}

body {
    padding: 0;
}

footer {
    background: #222222;
    color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
    }
}