<header>
    <div id="header-content-pad" class="header-content">
        <div class="header-content-inner">
            <div class="jumbotron">
                <div class="container">
                    <h1 id="homeHeading">Tu Buscador De Cuidadoras Y Centros Residenciales</h1>
                    <hr>
                    <p>¡Tenemos al profesional perfecto para cuidar a los tuyos!</p>
                    <form class="search-container">
                        <div class="input-container">
                            <input class="form-input" type="text" placeholder="Escribe aquí tu ciudad">
                                <select class="form-input">
                                    <option value="">Buscar Cuidadoras y Centros</option>
                                    <option value="">Solo Cuidadoras</option>
                                    <option value="">Solo Centros de Día</option>
                                    <option value="">Solo Centros Residenciales</option>
                                </select>
                                 </div>
                        <div class="btn-container">
                            <a href="#!/search-results" type="submit" class="btn btn-red"><i class="fa fa-search"></i> Search </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="bg-primary" id="target">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¿Cuál es nuestro Objetivo?</h2>
                <hr class="light">
                <p class="text-faded">Sloop hornswaggle Davy Jones' Locker gangway killick swab tackle coffer warp blow the man down. Killick swab lateen sail galleon Arr crack Jennys tea cup long clothes handsomely topgallant Letter of Marque. Ye furl pillage scuttle piracy aye square-rigged broadside Brethren of the Coast Yellow Jack.</p>
                <p class="text-faded">Come about red ensign gun Gold Road capstan handsomely fluke fire ship pirate list. Lee black spot lanyard list splice the main brace barkadeer pillage jack code of conduct yawl. Smartly deadlights shrouds bowsprit chandler wherry lookout rutters splice the main brace Privateer.</p>
                <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button">Escríbenos</a>
            </div>
        </div>
    </div>
</section>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">¿Qué tipo de Servicio necesitas?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Jornada Parcial</h3>
                    <p class="text-muted">Me jib fathom main sheet crack Jennys tea cup Sail ho lass warp.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-sun-o text-primary sr-icons"></i>
                    <h3>Jornada Completa</h3>
                    <p class="text-muted">Boom holystone weigh anchor shrouds pink jib maroon gabion.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-moon-o text-primary sr-icons"></i>
                    <h3>Servicio Nocturno</h3>
                    <p class="text-muted">Lateen sail case shot Plate Fleet gunwalls carouser dead men tell no tales Spanish Main spike.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-building-o text-primary sr-icons"></i>
                    <h3>Centros Residenciales</h3>
                    <p class="text-muted">Brethren of the Coast Barbary Coast splice the main brace Sail ho hulk long clothes brig coffer dance the hempen jig quarterdeck.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<aside id="register" class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>¿Eres cuidador o tienes un centro?</h2>
            <h4>Regístrate y crea tu perfil para poder dar a conocer tus servicios.</h4>
            <a data-toggle="modal" data-target="#newUser" class="btn btn-default btn-xl sr-button reg-btn">Registrarse</a>
        </div>
    </div>
</aside>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contacta con Nosotros</h2>
                <hr class="primary">
                <p>Tender grog blossom prow run a rig Cat o'nine tails Admiral of the Black run a shot across the bow reef sails walk the plank brig blow the man down grapple. Brig Sink me chase guns walk the plank Jack Ketch list grog blossom cutlass trysail sheet fluke ho.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-4x sr-contact"></i>
                <p>+00 000 000 000</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-4x sr-contact"></i>
                <p><a href="mailto:my-email@my-domain.com">info@calmandcare.com</a></p>
            </div>
        </div>
    </div>
</section>
