<div id="profile_{{ profile._id }}">
    <div class="container-fluid">
        <div class="row">
            <div class="fb-profile">
                <img align="left" class="fb-image-lg" src="{{ profile.topimage }}" />
                <img align="left" class="fb-image-profile thumbnail" src="{{ profile.profileimage }}" />
                <div class="fb-profile-text">
                    <h1>{{ profile.name }}</h1>
                    <h2>{{ profile.location }}</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /container fluid-->
    <div class="container">
        <div class="col-sm-8">
            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">Sobre mí</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            <h4>Descripción</h4>
                            <p>{{ profile.description }}</p>
                            <h4>Experiencia</h4>
                            <p>{{ profile.experience }}</p>
                            <h4>Formación</h4>
                            <p>{{ profile.education }}</p>
                            <h4>Tarifa</h4>
                            <p>{{ profile.price }}€/Por hora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="menu_title">
                    <h3>Disponibilidad</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Jornada Parcial</p>
                            <p>Jornada Completa</p>
                            <p>Jornada Nocturna</p>
                            <button type="submit" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal">Ver Teléfono</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    Teléfono de Contacto
                </div>
                <div class="modal-body">
                    <h3><i class="glyphicon glyphicon-earphone"></i>{{profile.phone}}</h3>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar Ventana</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
