<div id="profile_{{ profile._id }}">
    <div class="container-fluid">
        <div class="row">
            <div class="fb-profile">
                <img align="left" class="fb-image-lg" src="../img/mountainCut.jpg" />
                <img align="left" class="fb-image-profile thumbnail" src="/../img/profile1.jpg" />
                <div class="fb-profile-text">
                    <h1>{{ profile.name }} Sarah Connor {{3+6}}</h1>
                    <h2>Barcelona</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- /container fluid-->
    <div class="container">
        <div class="col-sm-8">
            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">Sobre mí</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            <h4>Descripción</h4>
                            <p>
                                Doubloon boom avast run a rig keelhaul rope's end take a caulk cog jury mast square-rigged. Tackle belaying pin lugsail rope's end log keelhaul overhaul Jack Tar ye bilge water. Belay lanyard main sheet Privateer no prey, no pay coxswain plunder squiffy Jack Tar Jolly Roger. Black spot nipperkin boatswain clap of thunder take a caulk chandler spanker aft bilge schooner.
                            </p>
                            <h4>Experiencia</h4>
                            <p>
                                - To go on account bilge water rutters barkadeer brig Davy Jones' Locker.
                                <br>- Keelhaul rutters scurvy broadside Pieces of Eight chase.
                                <br>- Topsail haul wind yard marooned skysail hogshead.
                                <br>- Gaff clap of thunder line hearties maroon hogshead.
                            </p>
                            <h4>Formación</h4>
                            <p>- Grog blossom bring a spring upon her cable gabion gally hearties mutiny.
                                <br>- Lookout grapple lad hail shot reef hempen halter.</p>
                            <h4>Tarifa</h4>
                            <p>20€/Por hora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="menu_title">
                    <h3>Disponibilidad</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p>Jornada Parcial</p>
                            <p>Jornada Completa</p>
                            <p>Jornada Nocturna</p>
                            <button type="submit" class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal">Ver Teléfono</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    Teléfono de Contacto
                </div>
                <div class="modal-body">
                    <h3><i class="glyphicon glyphicon-earphone"></i>123-456-789</h3>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar Ventana</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
