<div>
    <div class="register-form">
        <h3>Crear Cuenta en Calm And Care</h3>
    </div>
    <div class="modal-body">
        <form ng-submit="register($event)">
                <input ng-model="username" type="text" class="span3" id="username" placeholder="Nombre de Usuario">
                <input ng-model="password" type="password" class="span3" placeholder="Contraseña">
                <button type="submit" class="btn btn-danger">Crear Cuenta</button>
        </form>
    </div>
    <div class="modal-footer">
        ¿Ya tienes Cuenta?
        <a href="#!/login" class="btn btn-danger">Inicia Sesión</a>
    </div>
</div>
