<!-- Beggining of the navbar -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Calm And Care</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#target">Nuestro Objetivo</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Servicios</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contacto</a>
                </li>
                <li>
                    <a class="page-scroll" href="#sesion">Inicia Sesión</a>
                </li>
                <li>
                    <a class="page-scroll" href="#unete">Únete como Profesional</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- End of the navbar -->

<!-- <div class="container">
    <div class="row">
        <div class="span12">
            <a data-toggle="modal" class="btn" href="#loginModal">Inicia Sesión</a>
             
            <div class="modal hide" id="loginModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">✕</button>
                    <h3>Login to Website</h3>
                </div>
                    <div class="modal-body" style="text-align:center;">
                    <div class="row-fluid">
                        <div class="span10 offset1">
                            <div id="modalTab">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="login">
                                        <form method="post" action='' name="login_form">
                                            <p><input type="text" class="span12" name="eid" id="email" placeholder="Email"></p>
                                            <p><input type="password" class="span12" name="passwd" placeholder="Password"></p>
                                            <p><button type="submit" class="btn btn-primary">Sign in</button>
                                            <a href="#forgotpassword" data-toggle="tab">Forgot Password?</a>
                                            </p>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="forgotpassword">
                                        <form method="post" action='' name="forgot_password">
                                            <p>Hey this stuff happens, send us your email and we'll reset it for you!</p>
                                            <input type="text" class="span12" name="eid" id="email" placeholder="Email">
                                            <p><button type="submit" class="btn btn-primary">Submit</button>
                                            <a href="#login" data-toggle="tab">Wait, I remember it now!</a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->