<!-- Beggining of the navbar -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Calm And Care</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#target">Nuestro Objetivo</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Servicios</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contacto</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#logIn">Inicia Sesión</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#newUser">Únete como Profesional</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- End of the navbar -->
<!-- Beggining of Log In Modal -->
<div class="modal fade" id="logIn">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Inicio de Sesión en Calm And Care</h3>
            </div>
            <div class="modal-body">
                <form method="post" action='' name="login_form">
                    <p>
                        <input type="text" class="span3" name="userName" id="userName" placeholder="Nombre de Usuario">
                    </p>
                    <p>
                        <input type="password" class="span3" name="passwd" placeholder="Contraseña">
                    </p>
                    <p>
                        <a href="#!/edit-profile" class="btn btn-danger">Inicia Sesión</a>
                        <a data-toggle="modal" data-target="#newPass">¿Olvidaste la contraseña?</a>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                ¿Nuevo en Calm And Care?
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#newUser" class="close" data-dismiss="modal">Únete</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Log In Modal -->
<!-- Beggining of Register Modal -->
<div class="modal fade" id="newUser">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Crear Cuenta en Calm And Care</h3>
            </div>
            <div class="modal-body">
                <form method="post" action='' name="newUser_form">
                    <p>
                        <input type="text" class="span3" name="userName" id="userName" placeholder="Nombre de Usuario">
                    </p>
                    <p>
                        <input type="text" class="span3" name="eid" id="email" placeholder="Correo electrónico">
                    </p>
                    <p>
                        <input type="password" class="span3" name="passwd" placeholder="Contraseña">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-danger">Crear Cuenta</button>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                ¿Ya tienes Cuenta?
                <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#logIn" class="close" data-dismiss="modal">Inicia Sesión</a>
            </div>
        </div>
    </div>
</div>
<!-- End of Register Modal -->
<!-- Beggining of New Password Demand Modal -->
<div id="newPass" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Nueva Contraseña</h3>
            </div>
            <div class="modal-body">
                <p>Servicio en construcción</p>
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar Ventana</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of New Password Demand Modal -->