<!-- Beggining of the navbar -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Calm And Care</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#target">Nuestro Objetivo</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Servicios</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contacto</a>
                </li>
                <li>
                    <a class="page-scroll" data-toggle="modal" data-target="#myModal">Inicia Sesión</a>
                </li>
                <li>
                    <a class="page-scroll" href="#unete">Únete como Profesional</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- End of the navbar -->

        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-md">

                <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h3>Inicio de Sesión en Calm And Care</h3>
            </div>
            <div class="modal-body">
                <form method="post" action='' name="login_form">
                    <p>
                        <input type="text" class="span3" name="eid" id="email" placeholder="Correo electrónico">
                    </p>
                    <p>
                        <input type="password" class="span3" name="passwd" placeholder="Contraseña">
                    </p>
                    <p>
                        <button type="submit" class="btn btn-danger">Inicia Sesión</button>
                        <a href="#">¿Olvidaste la contraseña?</a>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                Nuevo en Calm And Care?
                <a href="#" class="btn btn-danger">Únete</a>
            </div>
        </div></div>